
.commentry_comments_wrapper {
  float: right;
  margin: 0 0 .5em .5em;
  padding: 1em;
  border: 1px solid #ccc;
  width: 25%;
  font-family:"Times New Roman",Georgia,Serif;
}

.commentry_comments_wrapper h3 {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: .5em;
}

.commentry_comments_wrapper h4 {
  font-style: italic;
}

.highlighted_comment {
  font-size: 1.1em;
  margin-bottom: .6em;
}

p.commentrylinks {
  margin-top: 1em;
}

.highlighted_comment .submitted_info { 
  font-size: .9em;
  text-align: right;
  font-style: italic;
}

.commentry_more_link {
  font-size: .8em;
  font-style: italic;
}